node_modules/
.env
.DS_Store
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.netlify/
public/js/firebase-config.js

# IDE
.vscode/

# Android build artefacts & local machine config
mathgrade12_flutter/android/build/
mathgrade12_flutter/android/gradle/local.properties
